@font-face {
    font-family: 'Alexander';
    src: url('../fonts/Alexander.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Anonymous';
    src: url('../fonts/Anonymous.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'ArnamMono';
    src: url('../fonts/ArnamMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Beermoney';
    src: url('../fonts/Beermoney.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Celestina';
    src: url('../fonts/Celestina.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'CodenameCoderFree';
    src: url('../fonts/CodenameCoderFree.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'ConsolaMono';
    src: url('../fonts/ConsolaMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Cousine';
    src: url('../fonts/Cousine.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'CutiveMono';
    src: url('../fonts/CutiveMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'DroidSansMono';
    src: url('../fonts/DroidSansMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'FiveMinutes';
    src: url('../fonts/FiveMinutes.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'FantasqueSansMono';
    src: url('../fonts/FantasqueSansMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCode.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'FiraMonoOT';
    src: url('../fonts/FiraMonoOT.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'IBMPlexMono';
    src: url('../fonts/IBMPlexMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'LemonTuesday';
    src: url('../fonts/LemonTuesday.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Leokadia';
    src: url('../fonts/Leokadia.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Lionelofparis';
    src: url('../fonts/Lionelofparis.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'NotCourierSans';
    src: url('../fonts/NotCourierSans.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Notomono';
    src: url('../fonts/Notomono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Officecodepro';
    src: url('../fonts/Officecodepro.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Officecodeprod';
    src: url('../fonts/Officecodeprod.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenGostTypeA';
    src: url('../fonts/OpenGostTypeA.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OverpassMono';
    src: url('../fonts/OverpassMono.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OxygenMono';
    src: url('../fonts/OxygenMono.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Pecita';
    src: url('../fonts/Pecita.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Ptmono';
    src: url('../fonts/Ptmono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'RubikMonoOne';
    src: url('../fonts/RubikMonoOne.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'ShareTechMono';
    src: url('../fonts/ShareTechMono.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Solena';
    src: url('../fonts/Solena.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('../fonts/SourceCodePro.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Texgyrecursor';
    src: url('../fonts/Texgyrecursor.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('../fonts/UbuntuMono.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'VinMonoPro';
    src: url('../fonts/VinMonoPro.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

